
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Edu+VIC+WA+NT+Beginner:wght@600&family=Fira+Sans:ital,wght@1,300&family=Great+Vibes&display=swap');

body
{
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Estonia', cursive;
    --bg-black-900: #f2f2fc;
    --bg-black-100: #fdf9ff;
    --bg-black-50: #e8dfec;
    --text-black-900: #f2f2fc;
    --text-black-700: #f2f2fc;

}
*
{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;

}
::before,::after
{
    box-sizing: border-box;
}

ul{
    list-style: none;
}
.section
{
    background: var(--bg-black-900);
    min-height: 100vh;
    display: block;
    padding: 0 30px;
    opacity: 1;
}

.hidden{
    display: none !important;
}

.mainContent
{
    padding-left: 270px;
}

.padd-15
{
    padding-left: 15px;
    padding-right: 15px;
}

.container
{
    max-width: 1100px;
    width: 100%;
    margin: auto;
}

.section .container
{
    padding-top: 60px;
    padding-bottom: 70px;
}

.section-title
{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 60px;
}

.section-title h2
{
    font-size: 36px;
    font-weight: 600;
    position: relative;
    color: black;
}

.section-title h2::before
{
    content: '';
    height: 4px;
    width: 122px;
    top: 100%;
    left: 0;
    position: absolute;
    background-color: var(--skin-color);
}

.section-title h2::after
{
    content: '';
    height: 4px;
    width: 46px;
    top: 100%;
    left: 0;
    margin-top: 8px;
    position: absolute;
    background-color: var(--skin-color);
}

.row
{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
}

.btn
{
    font-size: 16px;
    font-weight: 500;
    border: none;
    padding: 12px 35px;
    color: white;
    border-radius: 40px;
    display: inline-block;
    white-space: nowrap;
    background: var(--skin-color);
    transition: all 0.3s ease;
}
.btn:hover
{
    transform: scale(1.05);

}
/* aside */
.aside
{
    left: 0;
    top: 0;
    padding: 18px;
    display: flex;
    width: 260px;
    height: 100%;
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: 10;
    background: var(--bg-black-100);
    border-right: 1px solid var(--bg-black-50);
   
}

.aside .logo 
{
    position: absolute;
    top: 50px;
    font-size: 60px;
    text-transform: capitalize;
}
.aside .logo a{
    color: var(--text-black-900);
    font-weight: 700;
    padding: 15px 20px;
    font-size: 50px;
    position: relative
}

.aside .logo a span
{
    font-family: 'Fira Sans', sans-serif;
    font-size: 40px;
    color: black;
    
}

.aside .logo a ::before
{
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid var(--skin-color);
    border-left: 5px solid var(--skin-color);
    bottom: 0;
    left: 0px;

}

.aside .logo a ::after
{
    content: '';
    position:absolute;
    width: 30px;
    height: 30px;
    border-top: 5px solid var(--skin-color);
    border-right: 5px solid var(--skin-color);
    top: 0;
    bottom: 0;
    
}

.aside .nav
{
    margin-top: 110px;

}
.aside .nav li
{
    margin-bottom: 20px;
    display: block;
}

.aside .nav li a
{
    font-size: 18px;
    font-weight: 700;
    display: block;
    color: var(--text-black-900);
    padding: 5px 15px;
    border-bottom: 1px solid var(--bg-black-50);
}

.aside .nav li a.active
{
    color: var(--skin-color);
}

.aside .nav li a i
{
    margin-right: 15px;
}

/*  home */

.home
{
    min-height: 100vh;
    display: flex;
    color: var(--text-black-900);
}

.home .home-info
{
    flex: 0 0 60%;
    max-width: 60%;
}

h3.hello
{
    font-size: 28px;
    margin: 15px 0;
    font-family: 'Clicker script' , cursive ;font-family: 'Clicker script' , cursive ;
}

h3.hello span
{
    font-family: 'League Spartan', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: var(--skin-color);
}

h3.my-profession
{
    font-size: 30px;
    margin: 15px 0;
    font-family: 'Alata', sans-serif;
    font-family: 'League Spartan', sans-serif;
    font-family: 'Poiret One', sans-serif;
}

.typing
{
    color: var(--skin-color);
}

.home-info p
{
    margin-bottom: 70px;
    font-size: 20px;
}

.home .home-img
{
    flex: 0 0 30%;
    max-width: 10%;
    margin-right: 30%;
    text-align: center;
}

.home-img::after
{
    content: '';
    position: absolute;
    height: 80px;
    width: 80px;
    right: 20px;
    bottom: -40px;
    border-bottom: 10px solid var(--skin-color);
    border-right: 10px solid var(--skin-color);
}

.home-img::before
{
    content: '';
    position: absolute;
    height: 80px;
    width: 80px;
    left: -20px;
    top: -40px;
    border-top: 10px solid var(--skin-color);
    border-left: 10px solid var(--skin-color);
}

/* About */

.about .about-content
{
    flex: 0 0 100%;
    max-width: 100%;
    
}

.about .about-content .about-text
{
    flex: 0 0 100%;
    max-width: 100%;

}

.about .about-content .about-text h3
{
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 700;

}

.about .about-content .about-text h3 span
{
    color: var(--skin-color);
}
.about .about-content .about-text p
{
    font-family: 'Philosopher', sans-serif;
    font-size: 20px;
    line-height: 26px;
}

.about .about-content .personal-info
{
    flex:  0 0 60%;
    max-width: 60%;
    margin-top: 40px;
}

.about .about-content .personal-info .info-item
{
    flex: 0 0 50%;
    max-width: 50%;
}

.about .about-content .personal-info .info-item p
{
    font-weight: 600;
    padding: 10px 0;
    font-size: 16px;
    color: var(--text-black-900);
    border-bottom: 1px solid var(--bg-black-50);
}

.about .about-content .personal-info .info-item p span
{
    font-weight: 400;
    margin-left: 4px;
    display: inline-block;
    color: var(--text-black-700);
}

.about .about-content .personal-info .buttons
{
    margin-top: 30px;

}

.about .about-content .personal-info .buttons .btn
{
    margin-right: 15px;
    margin-top: 10px;

}
.about .about-content .skills
{
   flex:  0 0 40%;
   max-width: 40%;
   margin-top: 40px;
}

.about .about-content .skills .skill-item
{
    flex: 0 0 100%;
    max-width: 100%;

}

.about .about-content .skills .skill-item h5
{
    line-height: 40px;
    font-weight: 600;
    font-size: 16px;
    color: var(--text-black-900);
    text-transform: capitalize;
}

.about .about-content .skills .skill-item .progress
{
    background-color: var(--bg-black-50);
    height: 7px;
    border-radius: 4px;
    width: 100%;
    position: relative;
}

.skills padd-15
{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3,1fr);
}

.about .about-content .skills .skill-item
{
    margin-bottom: 25px;

}

.about .about-content .skills .skill-item .progress
{
    position:absolute;
    
}

.about .about-content .skills .skill-item .skill-percent
{
    width: 1%;
    right: 0;
    top: -40px;
    position: absolute;
}

.about .about-content h3.title 
{
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: 700;
    color: var(--text-black-900);
}

/* skills */

.skill .container{
    padding-bottom: 40px;
}
.skill .skill-item{
    margin-bottom: 30px;
    padding: 4%;
    flex: 0 0 33.33%;
    max-width: 33.33%;
}

.skill-item .toolImg h4{
    margin-top: 3%;
    text-align: center;
}

.skill-item .toolImg h4 p{
    margin-top: 3%;
    text-align: center;
}

.skill .skill-item .skill-item-inner
{
    background-color: var(--bg-black-100);
    border: 1px solid var(--bg-black-50);
    border-radius: 10px;
    padding: 30px 15px;
    text-align: center;
    transition: all 0.3s ease;
}

.skill .skill-item .skill-item-inner:hover
{
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);

}

.skill .skill-item .skill-item-inner .icon 
{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 30px;
    text-align: center;
    transition: all 0.3s ease;
}

.skill .skill-item .skill-item-inner .icon .fa
{
    font-size: 40px;
    line-height: 60px;
    color: var(--skin-color);
    transition: all 0.3s ease;
}

.skill .skill-item .skill-item-inner:hover .icon
{
    background: var(--skin-color);
}

.skill .skill-item .skill-item-inner:hover .icon .home-img::after{
    font-size: 25px;
    color: #ffffff;
}

.skill .skill-item .skill-item-inner h4{
    font-size: 20px;
    margin-bottom: 15px;
    color: var(--text-black-900);
    font-weight: 700;
    text-transform: capitalize;
}

.skill .skill-item .skill-item-inner p{
    font-size: 19px;
    line-height: 25px;
    color: var(--text-black-900);
}
/* tools  */
.toolImg {
    width: 270px;
    margin: 5px;
    display: grid;
    gap: 2px;
    place-items: center;
    grid-template-columns: repeat(3,1fr);
}
.Tools-item .toolImg h4
{
    text-align: center;
    margin-top: 6%;
    margin-bottom: 6%;
}
.toolImg img{
    width: 100%;
    line-height:25px;
}

/* project */
.project{
    display: grid;
    grid-template-columns: repeat(2,2fr);

}
.projectdiv
{
    width: 90%;
    height: 620px;
    padding: 4%;
    margin: 4%;
    background-color: rgb(204, 235, 246);
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.projectdiv > img
{
   width: 80%;
   margin-top: 3%;
   margin-left: 10%;
  margin-bottom: 4%;
}
.projectdiv > img > h5{
    margin: auto;
    font-size: 18px;
    font-weight: 400;
}

.projectdiv > img > h5 > p{
    font-size: 17px;
    font-weight: 400;
}

/* contact */
.contact .container{
    margin-left: 20%;
}
.contact-title
{
    color: var(--skin-color);
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}

.contact-sub-title
{
    color: var(--text-black-900);
    text-align: center;
    font-size: 15px;
    margin-bottom: 60px;
}

.contact .contact-info-item
{
    flex: 0 0 25%;
    max-width: 25%;
    text-align: center;
    margin-bottom: 60px;
}

.contact .contact-info-item .icon
{
    display: inline-block;
}

.contact .contact-info-item .icon .fa
{
    font-size: 25px;
}

.contact .contact-info-item h4{
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
    margin: 15px 0 5px;
}

.contact .contact-info-item p{
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
}

.contact .contact-form
{
    flex: 0 0 50%;
    max-width: 50%;
}

.contact .contact-form .col-6
{
    flex: 0 0 50%;
    max-width: 50%;
}

.contact .contact-form .col-12
{
    flex: 0 0 100%;
    max-width: 100%;
}

.contact .contact-form .form-item
{
    margin-bottom: 30px;
}

.contact .contact-form .form-item .form-control
{
    width: 100%;
    height: 50px;
    padding: 10px 25px;
    border-radius: 25px;
    font-size: 16px;
    transition: all 0.3s ease;
    border: 1px solid var(--bg-black-50);
}

.contact .contact-form .form-item .form-control:focus
{
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

.contact .contact-form .form-item textarea.form-control
{
    min-height: 130px;
}

.contact .contact-form .btn{
    height: 50px;
    padding: 0 50px;
}

@media (max-width:1199px)
{
    .aside{
        left: -270px;
    }
    .main-content
    {
        padding-left: 0;
    }
    .about .about-content .personal-info .info-item p ruby-span 
    {
        display: block;
        margin-left: 0;
    };
}

@media (max-width:991px)
{

    .contact .contact-info-item,
    .resume .resume-item,
    .skill .skill-item
    {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .home .home-info
    {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .home .home-img
    {
        display: none;
    }
}

@media (max-width:767px)
{
    
    .contact .contact-form .col-6,
    .contact .contact-info-item,
    .skill .skill-item,
    .Tools .Tools-item,
    .resume .resume-item,
    .project .project-item,
    .about .about-content .skill,
    .about .about-content .personal-info
    {
        flex: 0 0 100%;
        max-width: 100%;
    }
}